Connected Services/Proxy/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4200/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Domain" />
  <xs:complexType name="QueueOfPlayerLu8J7EUV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="QueueOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Player" Namespace="http://schemas.datacontract.org/2004/07/Domain.Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Domain" name="_array" nillable="true" type="q1:ArrayOfPlayer" />
      <xs:element name="_head" type="xs:int" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_tail" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOfPlayerLu8J7EUV" nillable="true" type="tns:QueueOfPlayerLu8J7EUV" />
  <xs:complexType name="QueueOfGameCategoryLu8J7EUV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="QueueOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GameCategory" Namespace="http://schemas.datacontract.org/2004/07/Domain.Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Domain" name="_array" nillable="true" type="q2:ArrayOfGameCategory" />
      <xs:element name="_head" type="xs:int" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_tail" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOfGameCategoryLu8J7EUV" nillable="true" type="tns:QueueOfGameCategoryLu8J7EUV" />
</xs:schema>