Basta/Connected Services/Proxy/BastaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccessAccountNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAccountNotFoundFault" nillable="true" type="tns:AccessAccountNotFoundFault" />
  <xs:complexType name="BannedAccountFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BannedAccountFault" nillable="true" type="tns:BannedAccountFault" />
  <xs:complexType name="LimitReachedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LimitReachedFault" nillable="true" type="tns:LimitReachedFault" />
  <xs:complexType name="EmailAlreadyRegisteredFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAlreadyRegisteredFault" nillable="true" type="tns:EmailAlreadyRegisteredFault" />
  <xs:complexType name="UsernameRegisteredAlreadyFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsernameRegisteredAlreadyFault" nillable="true" type="tns:UsernameRegisteredAlreadyFault" />
  <xs:complexType name="EmailNotRegisteredYetFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailNotRegisteredYetFault" nillable="true" type="tns:EmailNotRegisteredYetFault" />
  <xs:complexType name="EmailSenderFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailSenderFault" nillable="true" type="tns:EmailSenderFault" />
</xs:schema>