Basta/Connected Services/Proxy/BastaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BastaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IRoomService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Domain" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_AccessAccountNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q1:AccessAccountNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_BannedAccountFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q2:BannedAccountFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_LimitReachedFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q3:LimitReachedFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_AccountAlreadyLoggedFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q4:AccountAlreadyLoggedFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_EmailAlreadyRegisteredFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q5:EmailAlreadyRegisteredFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_UsernameRegisteredAlreadyFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q6:UsernameRegisteredAlreadyFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GenerateCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCode" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GenerateCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GenerateCode_EmailNotRegisteredYetFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q7:EmailNotRegisteredYetFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SendMessageByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageByEmail" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SendMessageByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SendMessageByEmail_EmailSenderFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q8:EmailSenderFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_JoinRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SetUpRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUpRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SetUpRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUpRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetTopTen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopTen" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetTopTen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopTenResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SendMessageRoomChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageRoomChat" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SendMessageRoomChatToPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageRoomChatToPlayer" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetConnectedUsersFromRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedUsersFromRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetConnectedUsersFromRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedUsersFromRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRooms" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomByCode" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_UserDisconnectedFromRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:UserDisconnectedFromRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_KickPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:KickPlayer" />
  </wsdl:message>
  <wsdl:message name="IRoomService_StartGamePressed_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGamePressed" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReciveMessageFromPlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveMessageFromPlayer" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReciveMessageRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveMessageRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerConnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerConnected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerDisconnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerDisconnected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_RoomDelected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RoomDelected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerKicked_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerKicked" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GameIsFull_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameIsFull" />
  </wsdl:message>
  <wsdl:message name="IRoomService_Join_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IRoomService_YouHaveDisconnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:YouHaveDisconnected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_OpenGameWindow_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OpenGameWindow" />
  </wsdl:message>
  <wsdl:message name="IGameService_StopButtonPressed_InputMessage">
    <wsdl:part name="parameters" element="tns:StopButtonPressed" />
  </wsdl:message>
  <wsdl:message name="IGameService_OpenChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenChannel" />
  </wsdl:message>
  <wsdl:message name="IGameService_RemoveChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveChannel" />
  </wsdl:message>
  <wsdl:message name="IGameService_ShowMainScreenBorder_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowMainScreenBorder" />
  </wsdl:message>
  <wsdl:message name="IGameService_ShowGridGameFromRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowGridGameFromRoom" />
  </wsdl:message>
  <wsdl:message name="IGameService_FinishedTimeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishedTimeGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendResults_InputMessage">
    <wsdl:part name="parameters" element="tns:SendResults" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartNewRound_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewRound" />
  </wsdl:message>
  <wsdl:message name="IGameService_PlayerHasPressedStopButton_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerHasPressedStopButton" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartRound_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartRound" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartMainScreenBorder_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartMainScreenBorder" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartShowResults_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartShowResults" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartGridGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGridGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_CloseGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CloseGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_SomeoneHasDisconnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SomeoneHasDisconnected" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendAnswersToService_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAnswersToService" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Login" message="tns:ILoginService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginResponse" message="tns:ILoginService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginAccessAccountNotFoundFaultFault" name="AccessAccountNotFoundFaultFault" message="tns:ILoginService_Login_AccessAccountNotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginBannedAccountFaultFault" name="BannedAccountFaultFault" message="tns:ILoginService_Login_BannedAccountFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginLimitReachedFaultFault" name="LimitReachedFaultFault" message="tns:ILoginService_Login_LimitReachedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginAccountAlreadyLoggedFaultFault" name="AccountAlreadyLoggedFaultFault" message="tns:ILoginService_Login_AccountAlreadyLoggedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/SignUp" message="tns:ILoginService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/SignUpResponse" message="tns:ILoginService_SignUp_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SignUpEmailAlreadyRegisteredFaultFault" name="EmailAlreadyRegisteredFaultFault" message="tns:ILoginService_SignUp_EmailAlreadyRegisteredFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SignUpUsernameRegisteredAlreadyFaultFault" name="UsernameRegisteredAlreadyFaultFault" message="tns:ILoginService_SignUp_UsernameRegisteredAlreadyFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ChangePassword" message="tns:ILoginService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ChangePasswordResponse" message="tns:ILoginService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GenerateCode" message="tns:ILoginService_GenerateCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GenerateCodeResponse" message="tns:ILoginService_GenerateCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/GenerateCodeEmailNotRegisteredYetFaultFault" name="EmailNotRegisteredYetFaultFault" message="tns:ILoginService_GenerateCode_EmailNotRegisteredYetFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/SendMessageByEmail" message="tns:ILoginService_SendMessageByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/SendMessageByEmailResponse" message="tns:ILoginService_SendMessageByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SendMessageByEmailEmailSenderFaultFault" name="EmailSenderFaultFault" message="tns:ILoginService_SendMessageByEmail_EmailSenderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/LogOut" message="tns:ILoginService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LogOutResponse" message="tns:ILoginService_LogOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/CreateRoom" message="tns:IRoomService_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/CreateRoomResponse" message="tns:IRoomService_CreateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/JoinRoom" message="tns:IRoomService_JoinRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/DeleteRoom" message="tns:IRoomService_DeleteRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUpRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SetUpRoom" message="tns:IRoomService_SetUpRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/SetUpRoomResponse" message="tns:IRoomService_SetUpRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopTen">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetTopTen" message="tns:IRoomService_GetTopTen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetTopTenResponse" message="tns:IRoomService_GetTopTen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SendMessageRoomChat" message="tns:IRoomService_SendMessageRoomChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChatToPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SendMessageRoomChatToPlayer" message="tns:IRoomService_SendMessageRoomChatToPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUsersFromRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetConnectedUsersFromRoom" message="tns:IRoomService_GetConnectedUsersFromRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetConnectedUsersFromRoomResponse" message="tns:IRoomService_GetConnectedUsersFromRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetRooms" message="tns:IRoomService_GetRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetRoomsResponse" message="tns:IRoomService_GetRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetRoomByCode" message="tns:IRoomService_GetRoomByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetRoomByCodeResponse" message="tns:IRoomService_GetRoomByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserDisconnectedFromRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/UserDisconnectedFromRoom" message="tns:IRoomService_UserDisconnectedFromRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/KickPlayer" message="tns:IRoomService_KickPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGamePressed">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/StartGamePressed" message="tns:IRoomService_StartGamePressed_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageFromPlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/ReciveMessageFromPlayer" message="tns:IRoomService_ReciveMessageFromPlayer_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageRoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/ReciveMessageRoom" message="tns:IRoomService_ReciveMessageRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerConnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerConnected" message="tns:IRoomService_PlayerConnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerDisconnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerDisconnected" message="tns:IRoomService_PlayerDisconnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoomDelected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/RoomDelected" message="tns:IRoomService_RoomDelected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerKicked">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerKicked" message="tns:IRoomService_PlayerKicked_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameIsFull">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GameIsFull" message="tns:IRoomService_GameIsFull_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Join">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/Join" message="tns:IRoomService_Join_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="YouHaveDisconnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/YouHaveDisconnected" message="tns:IRoomService_YouHaveDisconnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenGameWindow">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/OpenGameWindow" message="tns:IRoomService_OpenGameWindow_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="StopButtonPressed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/StopButtonPressed" message="tns:IGameService_StopButtonPressed_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/OpenChannel" message="tns:IGameService_OpenChannel_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RemoveChannel" message="tns:IGameService_RemoveChannel_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMainScreenBorder">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ShowMainScreenBorder" message="tns:IGameService_ShowMainScreenBorder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowGridGameFromRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ShowGridGameFromRoom" message="tns:IGameService_ShowGridGameFromRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishedTimeGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/FinishedTimeGame" message="tns:IGameService_FinishedTimeGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendResults" message="tns:IGameService_SendResults_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartNewRound">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/StartNewRound" message="tns:IGameService_StartNewRound_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerHasPressedStopButton">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/PlayerHasPressedStopButton" message="tns:IGameService_PlayerHasPressedStopButton_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartRound">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartRound" message="tns:IGameService_StartRound_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMainScreenBorder">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartMainScreenBorder" message="tns:IGameService_StartMainScreenBorder_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartShowResults">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartShowResults" message="tns:IGameService_StartShowResults_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGridGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartGridGame" message="tns:IGameService_StartGridGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/CloseGame" message="tns:IGameService_CloseGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SomeoneHasDisconnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/SomeoneHasDisconnected" message="tns:IGameService_SomeoneHasDisconnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAnswersToService">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/SendAnswersToService" message="tns:IGameService_SendAnswersToService_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessAccountNotFoundFaultFault">
        <soap12:fault use="literal" name="AccessAccountNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BannedAccountFaultFault">
        <soap12:fault use="literal" name="BannedAccountFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LimitReachedFaultFault">
        <soap12:fault use="literal" name="LimitReachedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccountAlreadyLoggedFaultFault">
        <soap12:fault use="literal" name="AccountAlreadyLoggedFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmailAlreadyRegisteredFaultFault">
        <soap12:fault use="literal" name="EmailAlreadyRegisteredFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UsernameRegisteredAlreadyFaultFault">
        <soap12:fault use="literal" name="UsernameRegisteredAlreadyFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/GenerateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmailNotRegisteredYetFaultFault">
        <soap12:fault use="literal" name="EmailNotRegisteredYetFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessageByEmail">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/SendMessageByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmailSenderFaultFault">
        <soap12:fault use="literal" name="EmailSenderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRoomService" type="tns:IRoomService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoomService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/JoinRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/DeleteRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetUpRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SetUpRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopTen">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GetTopTen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChat">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SendMessageRoomChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChatToPlayer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SendMessageRoomChatToPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedUsersFromRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GetConnectedUsersFromRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GetRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomByCode">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GetRoomByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDisconnectedFromRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/UserDisconnectedFromRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/KickPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartGamePressed">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/StartGamePressed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageFromPlayer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/ReciveMessageFromPlayer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/ReciveMessageRoom" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerConnected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerDisconnected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerDisconnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomDelected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/RoomDelected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerKicked">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerKicked" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameIsFull">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GameIsFull" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/Join" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YouHaveDisconnected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/YouHaveDisconnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenGameWindow">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/OpenGameWindow" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StopButtonPressed">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StopButtonPressed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OpenChannel">
      <soap12:operation soapAction="http://tempuri.org/IGameService/OpenChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveChannel">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RemoveChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ShowMainScreenBorder">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ShowMainScreenBorder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ShowGridGameFromRoom">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ShowGridGameFromRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinishedTimeGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/FinishedTimeGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendResults">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartNewRound">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartNewRound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PlayerHasPressedStopButton">
      <soap12:operation soapAction="http://tempuri.org/IGameService/PlayerHasPressedStopButton" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRound">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartRound" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMainScreenBorder">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartMainScreenBorder" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartShowResults">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartShowResults" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGridGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartGridGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/CloseGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomeoneHasDisconnected">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SomeoneHasDisconnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAnswersToService">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendAnswersToService" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BastaService">
    <wsdl:port name="NetTcpBinding_ILoginService" binding="tns:NetTcpBinding_ILoginService">
      <soap12:address location="net.tcp://localhost:8090/BastaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BastaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-LBRH114\adrian</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRoomService" binding="tns:NetTcpBinding_IRoomService">
      <soap12:address location="net.tcp://localhost:8090/BastaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BastaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-LBRH114\adrian</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8090/BastaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BastaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-LBRH114\adrian</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>