Basta/Connected Services/Proxy/BastaService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Database.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Database.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessAccount" nillable="true" type="tns:AccessAccount" />
      <xs:element minOccurs="0" name="age" type="xs:short" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" type="tns:Location" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="AccessAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="account_state" type="tns:AccountState" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recovery_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAccount" nillable="true" type="tns:AccessAccount" />
  <xs:simpleType name="AccountState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FREE" />
      <xs:enumeration value="BANNED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountState" nillable="true" type="tns:AccountState" />
  <xs:simpleType name="Location">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NORTH" />
      <xs:enumeration value="SOUTH" />
      <xs:enumeration value="EUROPE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>