Basta/Connected Services/Proxy/BastaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BastaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IRoomService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4200/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_AccessAccountNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q1:AccessAccountNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_BannedAccountFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q2:BannedAccountFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_LimitReachedFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q3:LimitReachedFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_AccountAlreadyLoggedFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q4:AccountAlreadyLoggedFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_EmailAlreadyRegisteredFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q5:EmailAlreadyRegisteredFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SignUp_UsernameRegisteredAlreadyFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q6:UsernameRegisteredAlreadyFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GenerateCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCode" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GenerateCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GenerateCode_EmailNotRegisteredYetFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q7:EmailNotRegisteredYetFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SendMessageByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageByEmail" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SendMessageByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_SendMessageByEmail_EmailSenderFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Basta.Contracts.Faults" name="detail" element="q8:EmailSenderFault" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_BanPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:BanPlayer" />
  </wsdl:message>
  <wsdl:message name="ILoginService_BanPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:BanPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_JoinRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DeleteRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SetUpRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUpRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SetUpRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUpRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SendMessageRoomChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageRoomChat" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SendMessageRoomChatToPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageRoomChatToPlayer" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRooms" />
  </wsdl:message>
  <wsdl:message name="IRoomService_UserDisconnectedFromRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:UserDisconnectedFromRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_KickPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:KickPlayer" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReciveRoomsAvailable_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveRoomsAvailable" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReciveMessageFromPlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveMessageFromPlayer" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReciveMessageRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveMessageRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerConnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerConnected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerDisconnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerDisconnected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_RoomDelected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RoomDelected" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerKicked_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerKicked" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GameIsFull_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameIsFull" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayersIsKicked_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayersIsKicked" />
  </wsdl:message>
  <wsdl:message name="IRoomService_PlayerHasJoinToRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerHasJoinToRoom" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Login" message="tns:ILoginService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginResponse" message="tns:ILoginService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginAccessAccountNotFoundFaultFault" name="AccessAccountNotFoundFaultFault" message="tns:ILoginService_Login_AccessAccountNotFoundFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginBannedAccountFaultFault" name="BannedAccountFaultFault" message="tns:ILoginService_Login_BannedAccountFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginLimitReachedFaultFault" name="LimitReachedFaultFault" message="tns:ILoginService_Login_LimitReachedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/LoginAccountAlreadyLoggedFaultFault" name="AccountAlreadyLoggedFaultFault" message="tns:ILoginService_Login_AccountAlreadyLoggedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/SignUp" message="tns:ILoginService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/SignUpResponse" message="tns:ILoginService_SignUp_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SignUpEmailAlreadyRegisteredFaultFault" name="EmailAlreadyRegisteredFaultFault" message="tns:ILoginService_SignUp_EmailAlreadyRegisteredFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SignUpUsernameRegisteredAlreadyFaultFault" name="UsernameRegisteredAlreadyFaultFault" message="tns:ILoginService_SignUp_UsernameRegisteredAlreadyFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ChangePassword" message="tns:ILoginService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ChangePasswordResponse" message="tns:ILoginService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GenerateCode" message="tns:ILoginService_GenerateCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GenerateCodeResponse" message="tns:ILoginService_GenerateCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/GenerateCodeEmailNotRegisteredYetFaultFault" name="EmailNotRegisteredYetFaultFault" message="tns:ILoginService_GenerateCode_EmailNotRegisteredYetFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/SendMessageByEmail" message="tns:ILoginService_SendMessageByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/SendMessageByEmailResponse" message="tns:ILoginService_SendMessageByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILoginService/SendMessageByEmailEmailSenderFaultFault" name="EmailSenderFaultFault" message="tns:ILoginService_SendMessageByEmail_EmailSenderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/LogOut" message="tns:ILoginService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LogOutResponse" message="tns:ILoginService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BanPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/BanPlayer" message="tns:ILoginService_BanPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/BanPlayerResponse" message="tns:ILoginService_BanPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/CreateRoom" message="tns:IRoomService_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/CreateRoomResponse" message="tns:IRoomService_CreateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/JoinRoom" message="tns:IRoomService_JoinRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/DeleteRoom" message="tns:IRoomService_DeleteRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUpRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SetUpRoom" message="tns:IRoomService_SetUpRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/SetUpRoomResponse" message="tns:IRoomService_SetUpRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SendMessageRoomChat" message="tns:IRoomService_SendMessageRoomChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChatToPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SendMessageRoomChatToPlayer" message="tns:IRoomService_SendMessageRoomChatToPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetRooms" message="tns:IRoomService_GetRooms_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserDisconnectedFromRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/UserDisconnectedFromRoom" message="tns:IRoomService_UserDisconnectedFromRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/KickPlayer" message="tns:IRoomService_KickPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReciveRoomsAvailable">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/ReciveRoomsAvailable" message="tns:IRoomService_ReciveRoomsAvailable_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageFromPlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/ReciveMessageFromPlayer" message="tns:IRoomService_ReciveMessageFromPlayer_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageRoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/ReciveMessageRoom" message="tns:IRoomService_ReciveMessageRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerConnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerConnected" message="tns:IRoomService_PlayerConnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerDisconnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerDisconnected" message="tns:IRoomService_PlayerDisconnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoomDelected">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/RoomDelected" message="tns:IRoomService_RoomDelected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerKicked">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerKicked" message="tns:IRoomService_PlayerKicked_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameIsFull">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GameIsFull" message="tns:IRoomService_GameIsFull_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayersIsKicked">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayersIsKicked" message="tns:IRoomService_PlayersIsKicked_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerHasJoinToRoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/PlayerHasJoinToRoom" message="tns:IRoomService_PlayerHasJoinToRoom_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessAccountNotFoundFaultFault">
        <soap12:fault use="literal" name="AccessAccountNotFoundFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BannedAccountFaultFault">
        <soap12:fault use="literal" name="BannedAccountFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LimitReachedFaultFault">
        <soap12:fault use="literal" name="LimitReachedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccountAlreadyLoggedFaultFault">
        <soap12:fault use="literal" name="AccountAlreadyLoggedFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmailAlreadyRegisteredFaultFault">
        <soap12:fault use="literal" name="EmailAlreadyRegisteredFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UsernameRegisteredAlreadyFaultFault">
        <soap12:fault use="literal" name="UsernameRegisteredAlreadyFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/GenerateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmailNotRegisteredYetFaultFault">
        <soap12:fault use="literal" name="EmailNotRegisteredYetFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessageByEmail">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/SendMessageByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmailSenderFaultFault">
        <soap12:fault use="literal" name="EmailSenderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BanPlayer">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/BanPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRoomService" type="tns:IRoomService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoomService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/JoinRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/DeleteRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetUpRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SetUpRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChat">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SendMessageRoomChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessageRoomChatToPlayer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SendMessageRoomChatToPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GetRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UserDisconnectedFromRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/UserDisconnectedFromRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/KickPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReciveRoomsAvailable">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/ReciveRoomsAvailable" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageFromPlayer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/ReciveMessageFromPlayer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReciveMessageRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/ReciveMessageRoom" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerConnected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerDisconnected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerDisconnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomDelected">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/RoomDelected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerKicked">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerKicked" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameIsFull">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/GameIsFull" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayersIsKicked">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayersIsKicked" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerHasJoinToRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/PlayerHasJoinToRoom" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BastaService">
    <wsdl:port name="NetTcpBinding_ILoginService" binding="tns:NetTcpBinding_ILoginService">
      <soap12:address location="net.tcp://localhost:8090/BastaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BastaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-LBRH114\adrian</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRoomService" binding="tns:NetTcpBinding_IRoomService">
      <soap12:address location="net.tcp://localhost:8090/BastaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BastaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-LBRH114\adrian</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>