Basta/Connected Services/Proxy/BastaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageSent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToUserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>