Basta/Connected Services/Proxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessAccount" nillable="true" type="tns:AccessAccount" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="AccessAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountState" type="tns:AccountState" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAccount" nillable="true" type="tns:AccessAccount" />
  <xs:simpleType name="AccountState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BANNED" />
      <xs:enumeration value="FREE" />
      <xs:enumeration value="NULL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountState" nillable="true" type="tns:AccountState" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageSent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToUserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>